.oneProduct {
    padding: 48px 130px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

@media (max-width: 800px) {
    .oneProduct {
        padding: 28px 60px;
    }
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}
