
.catalog {
    padding: 48px 130px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.container h1 {
    color: #444B58;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 155.556% */
}

.search {
    border-radius: 4px;
    background: #F6F6F6;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border: none;
}

.search::placeholder {
    color: #B2B5BB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

.containerBtn {
    display: flex;
    justify-content: center;
}
