.container {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

.container:hover {
    background: #F6F6F6;
}

.nameProduct {
    display: flex;
    width: 362px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.nameProduct img {
    border-radius: 4px;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.title {
    color: #444B58;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    align-self: stretch;
    cursor: pointer;
}

.title:hover {
    text-decoration-line: underline;
}

.price {
    color: #444B58;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    align-self: stretch;
}

.countItems {
    display: flex;
    gap: 48px;
}

.btnDelete {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #B2B5BB;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: none;
    background: none;
}

.btnDelete:hover {
    color: #444B58;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
}

.opacity {
    opacity: 0.6;
}

@media (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .nameProduct img {
        width: 10vw;
        height: 10vw;
    }

    .nameProduct {
        width: 55vw;
    }

    .title {
        font-size: 2.5vw;
    }
}

