.faq {
    background: #484283;
    display: flex;
    padding: 60px 0;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    align-self: stretch;
}

.container {
    display: flex;
    flex-direction: column;
}

.container h2 {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    align-self: stretch;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0 0 20px 0;
}

@media (max-width: 1000px) {
    .container h2 {
        font-size: 3.6vw;
        padding: 5px;
    }

    .faq {
        padding: 6% 0;
        gap: 0;
    }
}
