.totalPrice {
    width: 356px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameCount {
    color: #B2B5BB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.count {
    color: #444B58;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.namePrice {
    color: #B2B5BB;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
}

.blockPrice {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
}

.price {
    color: #444B58;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
}

.nameTotalPrice {
    color: #B2B5BB;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
}

.total {
    color: #444B58;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
}

.totalPrice div {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 500px) {
    .totalPrice div {
        justify-content: space-between;
        width: 70vw;
    }
}
