.question {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.answer {
    width: 880px;
    align-self: stretch;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.container {
    width: 880px;
    cursor: pointer;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 20px;
}

.blockques {
    display: flex;
    justify-content: space-between;
}

.containerAnswer {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}

.open {
    height: 70px;
}

.cross {
    transition: 0.3s ease-in-out;
}

.containerAnswer {
    border-bottom: 1px solid #FFFFFF;
}

.rotate {
    transform: rotate(45deg);
}


@media (max-width: 1000px) {
    .container, .answer {
        width: 80vw;
    }

    .question {
        font-size: 2vw;
    }

    .answer {
        font-size: 1.6vw;
    }

    .container {
        gap: 5px;
        padding: 5px;
    }
}
