
.button {
    position: relative;
    border-radius: 4px;
    background: #F14F4F;
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.button:hover {
    background: #8C2828;
}

.button:disabled {
    background: #F8AFAF;
}

.svg {
    padding: 16px;
}


@media (max-width: 1200px) {
    .svg {
        padding: 1vw 1vw;
        font-size: 1.5vw;
        line-height: normal;
    }
}

@media (max-width: 1000px) {
    .svg {
        padding: 5px;
    }
}


