.footer {
    background: #444B58;
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.container {
    display: flex;
    width: 82vw;
    justify-content: space-between;
    align-items: center;
}

.container h1 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    cursor: pointer;
}

.container a {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.aLogo:hover {
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu a:hover {
    color: #C4C4C4;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration-line: underline;
}

@media (max-width: 1200px) {
    .footer {
        height: 50px;
    }

    .container h1 {
        font-size: 20px;
    }

    .container a {
        font-size: 10px;

    }

    .menu {
        gap: 10px;
    }
}

