.myCart {
    padding: 48px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-self: stretch;
}

.container h1 {
    color: #444B58;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    align-self: stretch;
}

.main {
    display: flex;
    gap: 48px;
    justify-content: space-between;
}

@media (max-width: 1400px) {
    .myCart {
        padding: 40px;
    }
}

@media (max-width: 800px) {
    .main {
        flex-direction: column;
    }
}
