.myCart {
    padding: 48px 130px;
    display: flex;
    /*width: 1440px;*/
    /*height: 990px;*/
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.container {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    gap: 48px;
    align-self: stretch;
}

.container h1 {
    color: #444B58;
    /*font-family: Jost;*/
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 155.556% */
    align-self: stretch;
}

.main {
    display: flex;
    gap: 48px;
    justify-content: space-between;
}
