
.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 6px;
    width: 370px;
}

.title {
    overflow: hidden;
    color: #444B58;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
}

.price {
    color: #444B58;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}



.desc {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.containerImg {
    width: 100%; /* Задает ширину контейнера, можно также использовать фиксированное значение, например, 300px */
    max-width: 300px; /* Ограничивает максимальную ширину */
    aspect-ratio: 1 / 1; /* Сохраняет пропорции, можно задавать свои, например, 4 / 3 */
    background-color: #fff; /* Цвет фона контейнера */
    overflow: hidden; /* Убирает выход изображения за границы контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section img {
    /*height: 300px;*/
    /*width: 370px;*/
    cursor: pointer;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.showDetails:hover {
    animation: show 1s forwards;
}

.showDetails {
    opacity: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    width: 370px;
    height: 300px;
    justify-content: center;
    background: rgba(135, 135, 135, 0.25);
    position: absolute;
    text-align: center;

}

.showDetails p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media (max-width: 1410px) and (min-width: 800px){
    .section {
        width: 22vw;
    }

    .section img, .showDetails {
        width: 22vw;
        /*height: auto;*/
    }
    .title {
        font-size: 1.2vw;
    }
    .price {
        font-size: 1.3vw;
    }

}

@media (max-width: 800px) {
    .section {
        width: 200px;
    }

    .containerImg, .showDetails {
        width: 200px;
        height: auto;
    }

    .title {
        font-size: 12px;
    }

    .price {
        font-size: 13px;
    }
}

