.burgerIcon {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}


.cart {
    gap: 6px;
}

.blockCart {
    position: relative;
}



.menu a:hover {
    color: #C4C4C4;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    text-decoration-line: underline;
}

.nameUser{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    text-decoration: none;
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    .burgerIcon {
        display: flex;
        font-size: 25px;
        cursor: pointer;
        color: #FFFFFF;
    }

    .menu {
        z-index: 1;
        display: none;
        flex-direction: column;
        background: #484283;
        position: absolute;
        top: 50px;
        right: 0;
        padding: 15px;
        white-space: nowrap;
        gap: 0;
    }

    .menu.open {
        display: flex;
    }

    .menu a {
        padding: 10px 0;
    }
}
